<!-- Services Section -->
    <section id="pets" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">AI+Pets</h2>
                    <h3 class="section-subheading text-muted">Research and analysis of pets' emotions and intentions.<br> Our mission is to help pet owners improve their pets' moods, sleep and social skills.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/pets/pets1.jpg" class="img-responsive" alt="">
                    </div>
                    <h4 class="service-heading">Pet voice recognition</h4>
                    <p class="text-muted">Effectively identify 651 types of classified sounds in daily life with the help of Google AI models.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/pets/pets2.jpg" class="img-responsive " alt="">
                    </div>
                    <h4 class="service-heading">Pet emotions and intentions</h4>
                    <p class="text-muted">Based on the annotation and training of over 50,000 pet voices, it effectively analyzes the seven emotions of pets.</p>
                </div>
                <div class="col-md-4">
                    <div class="team-member">
                        <img src="{{ site.baseurl }}/img/pets/pets3.jpg" class="img-responsive " alt="">
                    </div>
                    <h4 class="service-heading">Soothe the pet's emotions</h4>
                    <p class="text-muted">By using the sounds of toys that pets like and soothing audio to soothe their emotions, their moods, sleep and socialization abilities can be effectively improved.</p>
                </div>
            </div>
        </div>
    </section>
